body{
  font:
}
header
{
	height: 100px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: left;
	background-color: #5b7989;
	color:white;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px;
}
nav {
  height: 100%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
li {
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 15px 0px;
  height: 100%;
}
article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 2%;
	text-align: center;
	height: 400px;
}
.columna1{
  background-color: #91C9E8;
  width: 100%;
}
.columna2{
  background-color: #D1D1D1;
  width: 100%;
}
footer{
  clear: both;
  margin: 0 auto;
  height: 100px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  background-color: #C6d5c5;
  color:black;
  border-radius: 10px;
}
